<script src="{{uiRootPath}}/js/site.js"></script>
<script src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script>hljs.initHighlighting()</script>
<script type="application/json" class="js-hypothesis-config">
 {
     "showHighlights": false,
     "openSidebar": false,
     "theme": "classic"
 }
</script>
<script src="https://hypothes.is/embed.js" async></script>
