<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- <a class="navbar-item" href="#">Top</a> -->
        <!-- <div class="navbar-item">
             <span class="control">
             <a class="button is-primary" href="#">Download</a>
             </span>
             </div> -->
      </div>
    </div>
  </nav>
</header>
